# shared
META_REQUEST_Q_KEYWORD=

DETAIL_REQUEST_Q_KEYWORD=

TAG_REQUEST_Q_KEYWORD=

IDX_REQUEST_Q_KEYWORD=

RESULT_KEYWORD=


REDIS_URL=

PARSER_REQUEST_RETRY=

POOL_SIZE=

REQUEST_CHANNEL_BUF=

RESULT_CHANNEL_BUF=

BLOCKING_TIME=

SEMAPHORE_SIZE=

